:root{
    --color-secondary: #C1D13F;
    --color-text:#5C5B5B;
    --bg-fondo:#FFFEFA;
    --text: "Noto Sans", sans-serif;
    --color-border:#D9D9D9;
}


body{
    background-color: var(--bg-fondo);
    color: var(--color-text);
    font-family: var(--text)
}
.nav-gob {
    background-color: #611232;
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
}
.nav-gob .navbar-nav {
    flex-direction: row;
    padding-left: 10px !important;
}

.nav-gob a{
    color: white;
}
.nav-gob a:hover{
    background-color: rgba(255, 255, 255, .15);
    color: #d4c19c;
}
.nav-gob .nav-link {
    padding-left: 10px !important;
}
.bg-institucional{
    background-color: #235C4E;
    padding: 23px 0;
}
.bg-h{
    background-color: #fff;
    padding: 12px 0;
}
.btn-menu{
    background-color: transparent;
    color: var(--color-text);
    border-radius: 30px;
    padding: 5px 30px;
    border: 1px solid var(--color-text);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
}
.navbar-nav li{
    margin-right: 10px;
}

.btn-menu:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: var(--color-secondary);
  border-radius: 30px;
  padding: 5px 30px;
  z-index: -1;
}

.btn-menu:hover, .btn-menu:focus {
  color: white;
}

.btn-menu:hover:before, .btn-menu:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-menu:active {
  transform: scale(0.9);
}
#banner{
    margin-top:-20px;
    position: relative;
    z-index: 2;
}

.titulo{
    font-size: 63px;
    font-weight: 300;
    color: var(--color-text);
}

.titulo span{
    font-size: 73px;
    font-weight: 700;
    color: var(--color-secondary);
    border-bottom: 8px solid var(--color-secondary);
}
.titulou{
    font-size: 63px;
    font-weight: 300;
    color: var(--color-text);
    
}
.titulou::after{
    content: "";
    display: block;
    border-bottom: 8px solid var(--color-secondary);
    width: 200px;
    position: relative;
    left: 80px;
    margin: 0 auto;
}


.identidad-palabras {
      background-color: var(--color-secondary);
      display: flex;
      align-items: center;
      height: 160px;
    }

    .main__title {
      color: white;
      font-size: 63px;
      font-weight: 700;
    }

    .main__word {
      color: var(--color-text);
      border-bottom: 10px solid;
      border-color: white;
      font-size: 63px;
      font-weight: 700;
    }
    .typed-cursor{
        color: var(--color-text);
    }
@media (max-width: 575.98px) { 
    .identidad-palabras {
        height: 335px;
    }
    .main__title, .main__word{
        font-size: 52px;
    }
 }

.accordion {
  display: flex; /* O también inline-block, según el diseño */
  flex-direction: row; /* Para colocar los elementos en horizontal */
  border-width: 0px;
  border: none;
  /* Otras propiedades según sea necesario */
}

.accordion-button {
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  height: 100%;
  font-size: 30px;
  font-weight: 300;
  padding: .5rem;
  color: var(--color-text);
}

.accordion button   {
    color: var(--color-secondary);
}

.accordion-button:not(.collapsed){
    background-color: #fff;
    box-shadow: none;
}
.accordion-button::after{ 
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  fill="%23C1D13F" class="bi bi-plus" viewBox="0 0 16 16" > <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/> </svg>');
    background-size: 3rem;
    width: 3rem;
    height: 3rem;
    position: relative;
    top:10%;
}
.accordion-button:not(.collapsed)::after{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"   fill="%23C1D13F" class="bi bi-dash" viewBox="0 0 16 16"> <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/> </svg>');
    background-size: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    
}
.accordion-body {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text);
}
.accordion-item{
    display: flex;
    height: 398px;
    border: none;
}
.titulo-boletin-home{
    font-size: 30px;
    font-weight: 700;
    color: var(--color-text);
}
.fecha-boletin-home{
    font-size: 16px;
    color: var(--color-text);
}

.collapsing {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
.collapsed{
      border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.accordion-collapse {
  transition: height 0.2s ease-in-out;
  border: 1px solid #ccc;
}

.accordion-body {
  transition: opacity 0.2s ease-in-out;
}

.accordion-body {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.accordion-collapse.show .accordion-body {
    opacity: 1;
}

@media (max-width: 575.98px) { 
    .accordion {
  display: inline-block; /* O también inline-block, según el diseño */
  flex-direction: row; /* Para colocar los elementos en horizontal */
  /* Otras propiedades según sea necesario */
    }
    .accordion-button{
        writing-mode:horizontal-tb;
        transform: rotate(0deg);
        font-size: 18px;
        width: 100%;
        border:1px solid #ccc;
    }
    .accordion-item{
        display: inline-block;
        height: fit-content;
        width: 100%;
    }
    .collapsing {
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out !important; /* Or your desired transition */
    overflow: hidden;
  }
 }

/* boton leer mas boletin home */

.btn-leer-mas {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  position: relative;
  background-color: transparent;
  transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
color: var(--color-secondary);
  font-size: 16px;
}

.btn-leer-mas::after {
  content: '';
  border-bottom: 3px double var(--color-secondary);
  width: 0;
  height: 100%;
  position: absolute;
  margin-top: -5px;
  top: 0;
  left: 5px;
  visibility: hidden;
  transition: .2s linear;
}

.btn-leer-mas .icon {
  transform: translateX(0%);
  transition: .2s linear;
  animation: attention 1.2s linear infinite;
}

.btn-leer-mas:hover::after {
  visibility: visible;
  width: 90%;
}

.btn-leer-mas:hover {
    color: var(--color-text);
}

.btn-leer-mas:hover > .icon {
  transform: translateX(30%);
  animation: none;
}

@keyframes attention {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(30%);
  }
}

/* banner colaborativos ----------------------------------------------*/


/* .banner-colavorativos {
  padding: 20px;
  max-width: 1320;
  margin: 0 auto;
  view-transition-name: banner-colavorativos;
}
.banner-colavorativos svg{
    stroke: var(--color-secondary);
}
  .list-item:nth-child(1) {
    margin-bottom: -23%;
  }

  .list-item:nth-child(2) {
    margin-bottom: -23%;
    transform: scale(0.95);
  }

  .list-item:nth-child(3) {
    margin-bottom: -23%;
    transform: scale(0.9);
  }

   .list-item:nth-child(4) {
    transform: scale(0.85);
  }
  .hide{
    display: none;
  }
  .expanded {
    .list-item:nth-child(1){
      margin-bottom: 0;
      transform: scale(.9);
    }

    .list-item:nth-child(2),
    .list-item:nth-child(3),
    .list-item:nth-child(4) {
        margin-top: -45px;
        margin-bottom: 0;
        transform: scale(.8);
    }
    .list-item:nth-child(3),.list-item:nth-child(4){
        margin-top: -60px;
    }

    .show-hide-btn svg {
      transform: rotate(180deg);
      transition: transform 0.6s;
    }
  }
 */

 .banner-colavorativos {
  padding: 20px;
  max-width: 1320px;
  margin: 0 auto;
  view-transition-name: banner-colavorativos;

  .list-item:nth-child(1) {
    margin-bottom: -23%;
  }

  .list-item:nth-child(2) {
    margin-bottom: -23%;
    transform: scale(0.95);
  }

  .list-item:nth-child(3) {
    margin-bottom: -23%;
    transform: scale(0.9);
  }

   .list-item:nth-child(4) {
    transform: scale(0.85);
  }

  .hide {
    display: none;
  }

  &.expanded {
    .list-item:nth-child(1){
      margin-bottom: 0;
      transform: scale(.9);
    }

    .list-item:nth-child(2),
    .list-item:nth-child(3),
    .list-item:nth-child(4) {
        margin-top: -45px;
        margin-bottom: 0;
        transform: scale(.8);
    }
    .list-item:nth-child(3),.list-item:nth-child(4){
        margin-top: -60px;
    }

    .show {
      display: none;
    }

    .hide {
      display: block;
    }

    .show-hide-btn svg {
      transform: rotate(180deg);
      transition: transform 0.6s;
    }
  }
}

.banner-colavorativos svg{
    stroke: var(--color-secondary);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  view-transition-name: list;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background: var(--bg-fondo);
  border-radius: 16px;
  border: 1px solid var(--color-secondary);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}

.list-item:nth-child(1) {
  view-transition-name: list-item-1;
  z-index: 3;
}

.list-item:nth-child(2) {
  view-transition-name: list-item-2;
  z-index: 2;
}

.list-item:nth-child(3) {
  view-transition-name: list-item-3;
  z-index: 1;
}

.list-item:nth-child(4) {
  view-transition-name: list-item-4;
  z-index: 0;
}

.show-hide-btn {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin:10px auto 0 auto;
  background: none;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  z-index: 5;
  view-transition-name: show-hide-btn;
  
}
.banner-colavorativos .expanded .show-hide-btn svg {
  transform: rotate(-180deg);
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

::view-transition-group(*) {
  animation-duration: 0.6s;
  animation-timing-function: linear(0, 0.402 7.4%, 0.711 15.3%, 0.929 23.7%, 1.008 28.2%, 1.067 33%, 1.099 36.9%, 1.12 41%, 1.13 45.4%, 1.13 50.1%, 1.111 58.5%, 1.019 83.2%, 1.004 91.3%, 1);
}

::view-transition-old(*),
::view-transition-new(*) {
  height: 100%;
}

::view-transition-old(button-label),
::view-transition-new(button-label) {
  width: fit-content; 
}

::view-transition-old(button-label) {
  animation-name: fade-out;
  animation-duration: 0.6s;
}

@media (max-width: 575.98px) {
  .list-item{
    padding: 8px;
  }
  .show-hide-btn{
    margin:20px auto 0 auto;
    z-index: 5;
  }
  .banner-colavorativos {
      padding: 5px;
      max-width: 100%;
      margin: 0 auto;
      view-transition-name: banner-colavorativos;

    .list-item:nth-child(1) {
      margin-bottom: -26%;
    }

    .list-item:nth-child(2) {
      margin-bottom: -26%;
      transform: scale(0.95);
    }

    .list-item:nth-child(3) {
      margin-bottom: -26%;
      transform: scale(0.9);
    }

    .list-item:nth-child(4) {
      transform: scale(0.85);
    }

    &.expanded {
      .list-item:nth-child(1){
        margin-bottom: 0;
        transform: scale(1);
      }

      .list-item:nth-child(2),
      .list-item:nth-child(3),
      .list-item:nth-child(4) {
          margin-top: -12px;
          margin-bottom: 0;
          transform: scale(1);
      }
      .list-item:nth-child(3),.list-item:nth-child(4){
          margin-top: -12px;
      }      
    }
  }
 }
/* ------------------------------------------------------- */
#branding{
    padding: 1.5rem;
    text-transform: uppercase;
    position: relative;
}
#branding .uno, #branding .tres{
    font-size: 96px;
    font-weight: 900;   
    color: var(--color-secondary);
    line-height: 80px;
}
#branding .dos{
    font-size: 160px;
    font-weight: 900;
    color: var(--color-text);
    line-height: 90px;
}


.carousel-identidad{
    position: absolute;
    top: 0;
}

.carousel-item{
    max-width: 430px;
}

@media (max-width: 575.98px) { 
    .carousel-item{
        width: 130px;
        margin-top: 20px;
    }
        #branding .uno, #branding .tres{
        font-size: 28px;
        font-weight: 900;   
        color: var(--color-secondary);
        line-height: 20px;
    }
    #branding .dos{
        font-size:56px;
        font-weight: 900;
        color: var(--color-text);
        line-height: 32px;
    }
 }


 footer{
    font-size: 18px;
    align-items: center;
    margin-top: 80px;
 }

 .bor{
  border-left: 10px solid var(--color-secondary);
  padding-left: 10px;
 }

 .wrapper {
  display: inline-flex;
  list-style: none;
  padding-top: 40px;
  font-family: var(--text);
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: transparent;
  border-radius: 50%;
  border: 2px solid var(--color-text);
  margin-right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover{
    border: 0px;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #000;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
background: #d6249f; 
  color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #FF0000;
  color: #fff;
}
.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #010101;
  color: #fff;
}
.wrapper .spotify:hover,
.wrapper .spotify:hover .tooltip,
.wrapper .spotify:hover .tooltip::before {
  background: #1ed760;
  color: #fff;
}

@media (max-width: 575.98px) { 
  .bor{
    border-top: 8px solid var(--color-secondary);
    border-left: none;
  }
  footer{
    margin-top: 0px;
    padding: 2em 0;
  }
  .footer-pleca {
    background-size: cover;
  }
 }
.main-footer {
    font-family: "Montserrat";
    background-color: #611232;
    min-height: 56px;
    color: #fff;
    padding: 0px 0 0px;
    text-align: left;
    font-weight: 300;
    width: auto;
}
.main-footer .list-info {
    line-height: auto;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    padding: 30px 10px 10px;
}

.main-footer .list-info h5 {
    font-weight: 300;
    margin-bottom: 20px;
}
.h5, h5 {
    font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
.main-footer .list-info ul {
    margin: 0 0 60px;
    padding: 0;
}
.main-footer .list-info ul li {
    list-style-type: none;
    margin: 0 0 2px;
    padding: 0;
    line-height: 110%;
}
.main-footer .list-info a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.footer-pleca {
    background-color: #fff;
    background-image: url(https://framework-gb.cdn.gob.mx/gobmx/img/pleca.svg);
    background-repeat: repeat-x;
}
/* .footer-gob {
    background-color: #611232;
    color: #Fff;
    padding-top: 1em;
}

.footer-gob h5 {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 16px;
}

.footer-gob ul{
  padding-left: 0px;
}
.footer-gob li, .footer-gob a {
    color: #Fff;
    text-decoration: none;
    font-weight: 300;
}
.footer-gob li {
    margin: 0 0 2px;
}
.footer-gob div, .footer-gob li {
    font-size: 15px;
    list-style: none;
}

.list-inline {
    display: inline-flex;
}
.footer-pleca {
    background-color: #fff;
    background-image: url(https://framework-gb.cdn.gob.mx/gobmx/img/pleca.svg);
    background-repeat: repeat-x;
    height: 51.41px;
}
 */
